<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Route</title>
  </head>
  <body>
    <%include ../partials/style%>
    <%include ../partials/navigation%>
    <h3><a href="/routes">back</a></h3>
    <h1>Add Route</h1>
  </body>
    <%if(err){%>
      <%=err%>
    <%}%>
  <br>
  <form action="/routes/add" method="post">
      Departure:<br>
      <input type="text" name="departure"><br>
      Arrival:<br>
      <input type="text" name="arrival"><br>
    <input type="submit" value="Submit">
  </form>

</html>
