<div class="navbar">
  <a href="/">Home</a>
  <a href="/trains/schedule">Schedule</a>
  <a href="/users">User</a>
  <a href="/trains">Train</a>
  <a href="/routes">Route</a>
  <%if (session.user == undefined) {%>
    <a href="/users/login">MyBooking</a>
  <%} else {%>
  <a href="/users/<%=session.user.userId%>/transactions">MyBooking</a>
  <%}%>
</div>
