<div class="navbar">
  <a href="/">Home</a>
  <a href="/trains/schedule">Schedule</a>
  <a href="/users">User</a>
  <a href="/trains">Train</a>
  <a href="/routes">Route</a>
  <a href="#">MyBooking</a>
  <a href="#">Sign Out</a>
</div>
