<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Train</title>
  </head>
  <body>
    <h3><a href="/trains">back</a></h3>
    <h1>Add Train</h1>
    <form action="/trains/add" method="post">
        Train name:<br>
        <input type="text" name="trainName"><br>
      <input type="submit" value="Submit">
    </form>

    <% if(err) {%>
      <tr><a  style="color:red" ><%=err%></a></tr><br>
    <%}%>

  </body>
</html>
