<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Train</title>
  </head>
  <body>
    <h1>Add Train</h1>
    <h3><a href="/trains">back</a></h3>
    <form action="/trains/add" method="post">
        Train name:<br>
        <input type="text" name="trainName"><br>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
