<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Train List</title>
  </head>
  <body>
    <%include ../partials/navigation%>
    <%include ../partials/style%>
    <h1>Train List</h1>
    <h3><a href="/trains/add">Add Train</a></h3>
    <table>
      <tr>
        <th>Id</th>
        <th>Train Name</th>
        <th>Action</th>
      </tr>
      <%dataTrains.forEach((train)=>{%>
      <tr>
        <td><%=train.id%></td>
        <td><%=train.trainName%></td>
        <td><a href ="/trains/edit/<%=train.id%>">Edit</a> |
          <a href = "/trains/delete/<%=train.id%>" onclick="return confirm('delete this train?')">Delete</td>
      </tr>
      <%})%>
    </table>
  </body>
</html>
