<!DOCTYPE html>
<html>
  <body>
    <%include ../partials/style%>
    <%include ../partials/navigation%>
    <h1>Delete User</h1>
    <h3><a href="/users">Back to Users List</a></h3>
    <h4><%=dataUser.email%></h4>
    <p>ID : <%=dataUser.id%>, Role: <%=dataUser.role%> </p><br>
    <p>Has Been Successfully Deleted....</p>
  </body>
</html>
