<!DOCTYPE html>
<html>
  <body>
    <h1><%dataUser.email%></h1>
    <h3><a href="/">Back to Home Page</a></h3>
    <h2>My Transactions</h2>
    <table>
      <tr>
        <thead>
          <th>Transaction ID</th>
          <>
        </thead>
      </tr>


    </table>
  </body>
</html>